{% extends 'base.html' %}

{% block project %}
        {% for project in projects %}

        <div class='project'>
                <div class="date">
                        {{ project.published_date }}
                </div>
                <h2><a href="{% url 'projects.views.project_detail' pk=project.pk  %}">{{ project.title }}</a></h2>
                <p>
                        {{ project.content|linebreaks }}
                </p>
        </div>

        {% endfor %}
{% endblock project %}
