body {
        background-color: #f0e5c3;
        font-family: 'Fira Sans', sans-serif;
        font-size: 14pt;
        line-height: 1.5em;
        color: #533d36;
}

h1 a, h2 a {
        color: #533d36;
}

.page-header {
        border-bottom: 15px solid #63bcb6;
        margin-top: 60px;
        margin-bottom: 0px;
        padding: 0px 20px 5px 90px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active{
        color: #533d36;
        font-size: 42pt;
        text-decoration: none;
        padding-left: 70px;
}

.nav{
        padding-right: 80px;
        float: right;
}

.nav a{
        padding: 5px 10px;
        color: #533d36;
}

.nav a:hover{
        background-color: #a4cebb;
}

.content {
        margin: 0 auto;
        max-width: 970px;
        border-left: 40px solid #c76250;
        min-height: 530px;
}

h1, h2, h3, h4 {
        font-family: 'Poiret One';
        font-weight: bold;
}


.date {
        float: right;
        color: #533d36;
}

.save {
        float: right;
}

.post-form textarea, .post-form input {
        width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
        color: #533d36;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
}

.post {
        margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
        font-size: 1.2em;
        color: #533d36;
}
