{% extends 'base.html' %}

{% block content %}
<div class='contact'>
                <a href='https://twitter.com/JoshAddington'><i class="fa fa-twitter-square fa-2x"></i>@JoshAddington</a>
                <br>
                <a href='mailto:Josh@JoshAddington.com'><i class="fa fa-envelope-square fa-2x"></i>Josh@JoshAddington.com</a>
                <br>
                <a href='https://github.com/Josh-Addington'><i class='fa fa-github-square fa-2x'></i>GitHub.com/JoshAddington</a>
                <br>
                <a href='www.linkedin.com/in/joshaddington'><i class='fa fa-linkedin-square fa-2x'></i>LinkedIn/in/JoshAddington</a>
        </div>
{% endblock %}
